body {
	background: #141414;
	color: #ffffff;
}

.movie-list > .row {
	overflow-x:auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
}



.movie-container > h2{
	text-align: center;
}



.movie-container {
	position: relative;
	transition: transform 0.2s;
	padding-right: 2%;
	padding-top: 2%;
	
	
}
.poster {
	float: left;
	padding-right: 5%;
}

.movie-info > p{
	font-size: large;
}

.movie-container:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.movie-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}